{% extends "manager/manager.html" %}

{% block title %}Manager Dashboard{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Layout</th>
            <th>Capacity</th>
            <th>Size</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for busType in busTypes %}
        <tr>
            <td>{{ busType.brand }}</td>
            <td>{{ busType.model }}</td>
            <td>{{ busType.year }}</td>
            <td>{{ busType.layout }}</td>
            <td>{{ busType.capacity }}</td>
            <td>{{ busType.heigth }} {{ busType.width }} {{ busType.length }}</td>
            <td>
                <a class="btn btn-default" href="/manager/editBusType/{{ bus.bustype_id }}/">Edit</a>
                <a class="btn btn-default" href="/manager/deleteBusType/{{ bus.bustype_id }}/">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
