{% extends "manager/manager.html" %}

{% block title %}Manager Dashboard{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>City</th>
            <th>Address</th>
            <th>Phone</th>
            <th># of Buses</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for garage in garages %}
        <tr>
            <td>{{ garage.city }}</td>
            <td>{{ garage.address }}</td>
            <td>{{ garage.phone }}</td>
            <td>{{ garage.buscount }}</td>
            <td>
                <a class="btn btn-default" href="/manager/addGarage/{{ garage.pk }}/">Edit</a>
                <a class="btn btn-default" href="/manager/deleteGarage/{{ garage.pk }}/">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
