{% extends "common/base.html" %}

{% block brandlink %}/manager/{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/manager/addBus">Bus</a>
            </li>
            <li><a href="/manager/addBusType">Bus Type</a>
            </li>
            <li class="divider"></li>
            <li><a href="/manager/addGarage">Garage</a>
            </li>
            <li class="divider"></li>
            <li><a href="/manager/addRoute">Route</a>
            </li>
            <li><a href="/manager/addVoyage">Voyage</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit/Delete <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/manager/listBus">Bus</a>
            </li>
            <li><a href="/manager/listBusType">Bus Type</a>
            </li>
            <li class="divider"></li>
            <li><a href="/manager/listGarage">Garage</a>
            </li>
            <li class="divider"></li>
            <li><a href="/manager/listRoute">Route</a>
            </li>
            <li><a href="/manager/listVoyage">Voyage</a>
            </li>
        </ul>
    </li>
    <li><a href="/">Logout</a></li>
</ul>
{% endblock %}
