{% extends "common/base.html" %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Voyage</a>
            </li>
            <li><a href="#">Garage</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">Bus</a>
            </li>
            <li><a href="#">Bus Type</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit/Delete <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Voyage</a>
            </li>
            <li><a href="#">Garage</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">Bus</a>
            </li>
            <li><a href="#">Bus Type</a>
            </li>
        </ul>
    </li>
    <li><a href="#">Help</a></li>
    <li><a href="#">Logout</a></li>
</ul>
{% endblock %}
