{% extends "manager/manager.html" %}

{% block title %}Report 2{% endblock %}

{% block content %}
<h2>Load Factors of Routes</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Load Factor</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.0 }} - {{ row.1 }}</td>
            <td>{{ row.2 }} - {{ row.3 }}</td>
            <td>{{ row.4 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
