<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bus Company Data Management System{% endblock %}</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h2>Hello World</h2>
    <form action="/listVoyages/" method="post">{% csrf_token %}
    	{{lookupForm.as_p}}
    	<input type="submit" value="Search" />
    </form>
    {{id}}
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>
