{% extends "common/base.html" %}

{% block title %}List Voyages{% endblock %}

{% block content %}
<form class="form" action="/listVoyages/" method="post">{%csrf_token%}
	{{ lookupForm.as_p }}
	<input class="btn btn-default" type="submit" value="Search" />
</form>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Departure</td>
			<th>Arrival</td>
			<th>Bus</td>
			<th>Seats</td>
			<th>Operation</td>
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
		<tr>
			<td>{{ row.0 }}
			</td>
			<td>{{ row.1 }}
			</td>
			<td>{{ row.2 }}
			</td>
			<td>{{ row.3 }}
			</td>
			<td>
				<a class="btn btn-default btn-block" href="/makeReservation/{{ row.4 }}/">Reservation</a>
				<a class="btn btn-primary btn-block" href="/buyTicket/{{ row.4 }}/">Buy Ticket</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>

</table>
{% endblock %}
